<<<<<<< HEAD
/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";


global
{
	content-background-color: #7CD0D6;
	content-background-alpha: 0.4;
	chrome-color: #7CD0D6;
}
=======
/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";


global
{
	content-background-color: #7CD0D6;
	content-background-alpha: 0.4;
	chrome-color: #7CD0D6;
}
>>>>>>> e2c2498a71e632058764c38a83ec190c3087eb76
	