@namespace s "library://ns.adobe.com/flex/spark";

s|ActionBar{
	defaultButtonAppearance: beveled;
	skinClass: ClassReference("skins.CustomActionBarSkin");
}

s|ActionBar #titleDisplay {
	fontWeight:normal;
	color: #FFFFFF;
}

s|ActionBar #titleGroup {
	fontWeight:normal;
	color: #FFFFFF;
}
.picture{
	shadowColor:  "0xDDDDDD";
}

#errorText{
	color: #FFFFFF;
	font-size: 20px;
}

#nurseName, #nursePass{
	fontSize: 18px;
	textAlign: left;
}

#loginBtn, #registerBtn{
	fontSize: 16px;
}

#welcome{
	fontSize: 45px;
	color: #000000;
	textAlign: center;
	paddingTop: 25px;
}


global
{
	content-background-alpha: 1.0;
	font-size: 18;
	vertical-align: middle;
	text-align: left;
	chrome-color: #686868;
	content-background-color: #FFFFFF;
	color: #000000;
}